#feather
  text-align: center
  #avpw_controls_2
    border-radius: 5px
  #avpw_topleft_corner, #avpw_topright_corner, #avpw_topbevel div,
  .avpw_controls_main_bg_hd
    background: transparent

