!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Welcome

    meta(property='og:title', content='Test app')
    meta(property='og:type', content='Fun')
    meta(property='og:url', content='http://www.vietprotocol.com')
    meta(property='og:image', content='http://vietprotocol.com/images/logo-vietpro.png')
    meta(property="og:description", content='Công ty thiết kế web VietProtocol cung cấp dịch vụ thiết kế website chuyên nghiệp, tư vấn giải pháp kinh doanh tổng thể trên Internet, tối ưu hóa lợi nhuận')

    //if IE
      script(type='text/javascript')
        var tags = ['header', 'section'];
        while(tags.length)
        document.createElement(tags.pop());

    != SocketStream
  body
    #main
    #fb-root
    script(src='https://dme0ih8comzn4.cloudfront.net/js/feather.js')
