!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Welcome
    script(src='http://connect.facebook.net/en_US/all.js')
    script(src='http://feather.aviary.com/js/feather.js')

    != SocketStream
  body
    #fb-root
