aside
  form(action='#', method='get')
    ul
      li
        label(for='q1') Dong 1:
        input#q1
      li
        label(for='q2') Dong 2:
        input#q2
      li
        label(for='q3') Dong 3:
        input#q3
      input#q4(type='hidden')
