footer#submit
  #fb-like
    .fb-like(data-href="http://apps.facebook.com/fb-jstest/", data-send="false", data-layout="button_count", data-show-faces="false", data-size="large")
  #fb-login
    .fb-login-button(data-scope='email, user_likes, publish_stream, publish_actions', data-size="large", data-show-faces="false", data-max-rows="1") Dang nhap
  .submit
    a.button.green#posttowall(href='#') Đăng lên wall
    a.button.red(href='#') Chọn hình khác
  .loader
