footer#submit
  // a.button.blue(href='#') Dang len tuong cua ban
  // a.button.green(href='#') Dang len tuong cua ban
  // a.button.red(href='#') Chon hinh khac
  #fb-login
    a.button.blue(href='/auth/facebook') Connect with Facebook
