footer#submit
  // a.button.blue(href='#') Dang len tuong cua ban
  // a.button.green(href='#') Dang len tuong cua ban
  // a.button.red(href='#') Chon hinh khac
  #fb-login
    .fb-login-button(data-scope='email, user_likes, publish_stream, publish_actions', data-size="xlarge", data-show-faces="false", data-max-rows="1") Bam vao day ne ong co
    // a.fb_button.fb_button_xlarge
    //   span.fb_button_text Bam vao day ne ong co
    // a.button.blue(href='/auth/facebook') Connect with Facebook
  // .loader
