footer#submit
  #fb-login
    .fb-login-button(data-scope='email, user_likes, publish_stream, publish_actions', data-size="large", data-show-faces="false", data-max-rows="1") Dang nhap
  .submit
    a.button.green#posttowall(href='#') Dang len wall
    a.button.red(href='#') Chon hinh khac
  .loader
