li
  a(href='http://localhost/direx/{{image}}{{ext}}')
    span.imgmask
      img(src='http://localhost/direx/timthumb.php?h=200&w=180&src={{image}}{{ext}}', alt='{{name}}', height="200", width="180")
    span.labels
      em {{name}}
